
01 Digitization/Digitization.pptx
01 Digitization/Digitization 2.pptx
06 Connectionless Streaming of Multimedia Content/Connectionless Streaming of Multimedia Content.pptx
07 Connection-Oriented Streaming of Multimedia Content/big_buck_bunny_1080p_h264.mov
07 Connection-Oriented Streaming of Multimedia Content/big_buck_bunny_480p_h264.mov
07 Connection-Oriented Streaming of Multimedia Content/Connection-Oriented Streaming of Multimedia Content (Video).pptx
07 Connection-Oriented Streaming of Multimedia Content/Connection-Oriented Streaming of Multimedia Content.mp4
*.txt
04 Audio Signal Compression/Audio Signal Compression.pptx
05 Multimedia Content Storage and Description/Multimedia Content Storage and Description.pptx
06 Connectionless Streaming of Multimedia Content/big_buck_bunny_480p_h264.mov
06 Connectionless Streaming of Multimedia Content/BigBuckBunny_640x360.m4v
